.container{
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 499px) { 
  .container-header-logo{
    padding-left: 0px;
    float:none;
  }
  .container-header-search{
    padding-left: 0px;
    width: calc(100% - 50px);
    height: 32px;
    float:none;
  }
  .searchWrap {
    top:64px;
    width: calc(100% - 80px);
  } 
  .container-header-subject{
    padding-left: 0px;
    height:48px;
    float:none;
  }
  .container-header-username{
    padding-right: 0px;
    padding-left: 0px;
    float:left;
    text-align: left;
    height:48px; 
    width: 230px;
  }
  .container-header-buttons{
    padding-right: 20px;
    padding-left: 0px;
    float:right;
    width: 180px;
    height:48px; 
  }
  #header_panel {
    margin: 0 auto;
    width: 360px;
  }
  #details_panel {
    margin: 0 auto;
    width: 100%;
  }
  #owner_panel {
    float:none;
    margin: 0 auto;
    width: 360px;
  }
  #links_panel {
    float:none; 
    margin: 0 auto;
    width: 360px;
  }
  #main_panel {
    float:none;
    margin: 0 auto;
    width: 360px;
  }
  #ads_panel {
    float:none; 
    margin: 0 auto;
    width: 360px;
  }
  .post {
    width: 360px; 
    display: flex;
    margin: 0 auto;
    box-shadow: 0px;
  }
  .image-full .img-responsive, .video {
    width:360px;
  }
}
@media (min-width: 500px) {
  .container-header-logo{
    float:none;
  }
  .container-header-search{
    padding-left: 20px;
    width: calc(100% - 78px);
    height: 32px;
    float:none;
  }
  .searchWrap {
    top:64px;
    width: calc(100% - 98px);
  } 
  .container-header-subject{
    padding-left: 10px;
    height:48px;
    float:none;
  }
  .container-header-username{
    padding-right: 5px;
    padding-left: 20px;
    text-align: left;
    width: 260px;
  }
  .container-header-buttons{
    padding-right: 20px;
    padding-left: 5px;
    width: 200px;
  }
  #header_panel {
    padding-left: 25px;
    width: 100%;
  }
  #details_panel {
    padding-left: 25px;
    width: 100%;
  }
  #owner_panel {
    float:left;
    width: 100%;
  }
  #links_panel {
    float:left;
    width: 414px;
    margin-right: 30px;
  }
  #main_panel {
    float:left;
    padding-left: 25px;
    width: 100%;
  }
  #ads_panel {
    float:none; 
    margin: 0 auto;
    width: 414px;
  }
  .post {
    width: 384px; 
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.3);
  }
  .image-full .img-responsive, .video {
    width:458px;
  }
}
@media (min-width: 800px) {
  .container-header-logo{
    float:none;
  }
  .container-header-search{
    width: calc(100% - 500px);
    float:none;
  }
  .searchWrap {
    width: calc(100% - 560px);
    top:74px;
  }   
  .container-header-search{
    float:left;
  }  
  .image-full .img-responsive, .video {
    width:540px;
  }
}
@media (min-width: 1024px) {
  .container-header-logo{
    float:left;
  }
  .container-header-search{
    float:left;
    width: calc(100% - 720px);
  }
  .searchWrap {
    width: calc(100% - 780px);
    top:15px;
  }
  #owner_panel {
    float:left;
    width: calc(100% - 464px);
  }
  #links_panel {
    float:right; 
    width: 414px;
  }
  #main_panel {
    float:left;
    width: calc(100% - 464px);
  }
  #ads_panel {
    float:right; 
    width: 414px;
  }  
  .image-full .img-responsive, .video {
    width:540px;
  }
}
@media (min-width: 1280px) {
  .image-full .img-responsive, .video {
    width:600px;
  }
}
@media (min-width: 1680px) {
  .image-full .img-responsive, .video {
    width:800px;
  }
}
@media (min-width: 1920px) {
  .image-full .img-responsive, .video {
    width:1000px;
  }
}

a.vlink:link {text-decoration:none}
a.vlink:visited {text-decoration:none}
a.vlink:hover{text-decoration:none}
a.vlink:active{text-decoration:none}
a.vlink{
  color: #0070B8;
  font-weight: bold; 
  font-size: 18px;
}

.container-fluid{
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-flex{
  display: flex;
  flex-wrap: wrap;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.divider{
  border-top:2px solid #eeeeee;
}
.divider-2{
  border-top:2px solid #000;
  opacity: 0.1;
}
.space-center{
  justify-content: center;
}
.container-inline-flex{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block-left{
  float: left!important;
}
.block-right{
  float: right!important;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-capitalize{
  text-transform: capitalize;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tag{
  margin: 0 5px;
}
.tag a{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #155597;
  font-size: inherit;
}

.links a{
  margin: 0 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color: #155597;
  font-size: inherit;
}

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.clearfix{
  clear: both;
}

.c-gris{
  color: #bdbdbd;
}
.c-gris-2{
  color: #333333;
}
.c-green{
  color: #74ABC9;
}
.c-blue{
  color: #155597;
}
.c-white{
  color: #fff;
}
.c-negro{
  color: #606060;
  font-size:14px !important;
}
.list-unstyled{
  padding-left: 0;
    list-style: none;
}

.post {
    width: 384px;
    display: flex;
    margin-right: 30px;
}
.img-responsive{
  position: relative;
  height: auto;
  display: block;
}
.space-inter{
  padding: 0px 0px;
}
.margin-25{
  margin:25px 0;
}
.padding-20{
  padding: 20px 0;
}
.active{
  color: #bdbdbd;
  border-bottom: 0 !important;
}
.pagination-active{
  background: #74ABC9 !important;
  color: #fff !important;
}
.hover{
  border-bottom: 2px solid #74ABC9;
  padding-bottom: 5px;
}

