.container, .container_footer{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 499px) { 
  .container-header-logo{
    float:none;
  }
  .container-header-search{
    padding-left: 20px;
    width: calc(100% - 50px);
    height: 32px;
    float:none;
  }
  .searchWrap {
    top:64px;
    width: calc(100% - 80px);
  } 
  .container-header-subject{
    padding-left: 10px;
    height:48px;
    float:none;
  }
  .container-header-username{
    padding-right: 5px;
    padding-left: 20px;
    float:left;
    text-align: left;
    height:48px; 
    width: 230px;
  }
  .container-header-buttons{
    padding-left: 5px;
    float:right;
    width: 180px;
    height:48px; 
  }
  #confirm_dialog {
    top: 240px;
    left: calc((100% - 320px)/2);
    width: 320px;
    padding: 20px;
  }
}
@media (min-width: 500px) {
  .container-header-logo{
    float:none;
  }
  .container-header-search{
    padding-left: 20px;
    width: calc(100% - 50px);
    height: 32px;
    float:none;
  }
  .searchWrap {
    top:64px;
    width: calc(100% - 80px);
  } 
  .container-header-subject{
    padding-left: 10px;
    height:48px;
    float:none;
  }
  .container-header-username{
    padding-right: 5px;
    padding-left: 20px;
    text-align: left;
    width: 260px;
  }
  .container-header-buttons{
    padding-left: 5px;
    width: 180px;
  }  
  #confirm_dialog {
    top: 250px;
    left: calc((100% - 420px)/2);
    width: 420px;
    padding: 20px;
  }
}
@media (min-width: 800px) {
  .container-header-logo{
    float:none;
  }
  .container-header-search{
    width: calc(100% - 500px);
    float:none;
  }
  .searchWrap {
    width: calc(100% - 560px);
    top:74px;
  }   
  .container-header-search{
    float:left;
  }  
  #confirm_dialog {
    top: 220px;
    left: calc((100% - 500px)/2);
    width: 500px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .container-header-logo{
    float:left;
  }
  .container-header-search{
    float:left;
    width: calc(100% - 720px);
  }
  .searchWrap {
    width: calc(100% - 780px);
    top:15px;
  }
  #confirm_dialog {
    top: 160px;
    left: calc((100% - 500px)/2);
    width: 500px;
    padding: 20px;
  }
}

.category{
  /* background-color: pink; */ 
}
.catalog-title{
  float: left;
}
.catalog-buttons{
  float: right;
  padding-right: 40px;
}

.pbox
{
  padding: 13px 8px 13px 12px !important;
  background-color: #8fc0d3 !important;
}

a.vlink:link {text-decoration:none}
a.vlink:visited {text-decoration:none}
a.vlink:hover{text-decoration:none}
a.vlink:active{text-decoration:none}
a.vlink{
  color: #0070B8;
  font-weight: bold; 
  font-size: 18px;
}

.container-fluid{
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}
.container-flex{
	display: flex;
	flex-wrap: wrap;
}
.space-between{
	justify-content: space-between;
}
.space-around{
	justify-content: space-around;
}
.divider{
	border-top:2px solid #eeeeee;
}
.divider-2{
	border-top:2px solid #000;
	opacity: 0.1;
}
.space-center{
	justify-content: center;
}
.container-inline-flex{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.block-left{
	float: left!important;
}
.block-right{
	float: right!important;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-capitalize{
	text-transform: capitalize;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.clearfix{
	clear: both;
}

.c-gris{
  color: #bdbdbd;
}
.c-gris-2{
  color: #333333;
}
.c-green{
  color: #74ABC9;
}
.c-blue{
  color: #155597;
}
.c-white{
  color: #fff;
}
.c-negro{
  color: #606060;
  font-size:14px !important;
}
.list-unstyled{
	padding-left: 0;
    list-style: none;
}
.img-responsive{
	position: absolute;
  clip: rect(0px,230px,135px,0px);
  width: 230px;
  height: auto;
  display: block;
}
.space-inter{
	padding: 0px 0px;
}
.margin-25{
	margin:25px 0;
}
.padding-20{
	padding: 20px 0;
}
.active{
	color: #bdbdbd;
	border-bottom: 0 !important;
}
.pagination-active{
	background: #74ABC9 !important;
	color: #fff !important;
}
.hover{
	border-bottom: 2px solid #74ABC9;
	padding-bottom: 5px;
}
