.container-header{
	/*padding-right: 15px;
  	padding-left: 15px;*/
  	padding-right: 20px;
  	padding-left: 20px;
    box-sizing: border-box;
    background-color: #74ABC9;
    width:100%;
}
.container{
  /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 569px) {
  /*
  .no-mobile{
    display: none !important;
  }
  */
  .container {
    width: 300px; 
    display: flex;
    flex-wrap: wrap;
  }
  .post {
    width: 230px; 
    display: flex;
    margin-right: 30px;
  }
}
@media (min-width: 570px) {
  /*
  .no-mobile{
  	display: none !important;
	}
	*/
	.container {
    width: 520px; /* 260 * 2 = 520 */
    display: flex;
		flex-wrap: wrap;
  }
	.post {
  	width: 230px;	
  	display: flex;
  	margin-right: 30px;
  }
}
@media (min-width: 830px) {
  .container {
    width: 780px; /* 260 * 3 = 780 */
    display: flex;
		flex-wrap: wrap;
  }
  .post {
  	width: 230px;	
  	display: flex;
  	margin-right: 30px;
  }
}
@media (min-width: 1090px) {
  .container {
    width: 1040px; /* 260 * 4 = 1040 */
    display: flex;
		flex-wrap: wrap;
  }
  .post {
  	width: 230px;	
  	display: flex;
  	margin-right: 30px;
  }
  .no-desktop{
  	display: none !important; 
  }
}
@media (min-width: 1610px) {
  .container {
    width: 1560px; /* 260 * 6 = 1560 */
    display: flex;
    flex-wrap: wrap;
  }
  .post {
    width: 230px; 
    display: flex;
    margin-right: 30px;
  }
  .no-desktop{
    display: none !important; 
  }
}
@media (min-width: 2130px) {
  .container {
    width: 2080px; /* 260 * 8 = 2080 */
    display: flex;
    flex-wrap: wrap;
  }
  .post {
    width: 230px; 
    display: flex;
    margin-right: 30px;
  }
  .no-desktop{
    display: none !important; 
  }
}

a.vlink:link {text-decoration:none}
a.vlink:visited {text-decoration:none}
a.vlink:hover{text-decoration:none}
a.vlink:active{text-decoration:none}
a.vlink{
  color: #0070B8;
  font-weight: bold; 
  font-size: 18px;
}

.container-fluid{
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
}
.container-flex{
	display: flex;
	flex-wrap: wrap;
}
.space-between{
	justify-content: space-between;
}
.space-around{
	justify-content: space-around;
}
.divider{
	border-top:2px solid #eeeeee;
}
.divider-2{
	border-top:2px solid #000;
	opacity: 0.1;
}
.space-center{
	justify-content: center;
}
.container-inline-flex{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.block-left{
	float: left!important;
}
.block-right{
	float: right!important;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-capitalize{
	text-transform: capitalize;
}
.center-block{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.clearfix{
	clear: both;
}

.c-gris{
	color: #bdbdbd;
}
.c-gris-2{
	color: #333333;
}
.c-green{
	color: #74ABC9;
}
.c-blue{
  color: #155597;
}
.c-white{
	color: #fff;
}
.c-negro{
	color: #606060;
  font-size:14px !important;
}
.list-unstyled{
	padding-left: 0;
    list-style: none;
}
.img-responsive{
  position: absolute;
  object-fit: cover;
  object-position: 0px 0px;
	width: 230px;
	height: 135px;
	display: block;
}
.img-responsive-card{
  position: absolute;
  object-fit: cover;
  object-position: 0px 0px;
  width: 66px;
  height: 66px;
  display: block;
}
.space-inter{
	padding: 0px 0px;
}
.margin-25{
	margin:25px 0;
}
.padding-20{
	padding: 20px 0;
}
.active{
	color: #bdbdbd;
	border-bottom: 0 !important;
}
.pagination-active{
	background: #74ABC9 !important;
	color: #fff !important;
}
.hover{
	border-bottom: 2px solid #74ABC9;
	padding-bottom: 5px;
}
