body{
	background: #EEEEEE; 
	font-family: 'lato', sans-serif;
	word-break: normal;
	min-width: 360px !important; 
}
.preload{
	border:1.2px solid #74ABC9;
	width: 50%;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/img/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}
.gradient-top
{
  background-image: -moz-linear-gradient(top,rgba(242, 254, 255, 1),rgba(179,220,237,1) 800px);
	background-image: -webkit-linear-gradient(top,rgba(242, 254, 255, 1),rgba(179,220,237,1) 800px);
	background-image: -ms-linear-gradient(top,rgba(242, 254, 255, 1),rgba(179,220,237,1) 800px);
	background-image: -o-linear-gradient(top,rgba(242, 254, 255, 1),rgba(179,220,237,1) 800px);
}
.gradient-left
{
  background-image: -moz-linear-gradient(left,rgba(248, 250, 253, 1),rgba(253, 253, 252, 1));
	background-image: -webkit-linear-gradient(left,rgba(248, 250, 253, 1),rgba(253, 253, 252, 1));
	background-image: -ms-linear-gradient(left,rgba(248, 250, 253, 1),rgba(253, 253, 252, 1));
	background-image: -o-linear-gradient(left,rgba(248, 250, 253, 1),rgba(253, 253, 252, 1));
}
.gradient-right
{
  background-image: -moz-linear-gradient(left,rgba(245, 250, 255, 1),rgba(243, 252, 252, 1));
	background-image: -webkit-linear-gradient(left,rgba(245, 250, 255, 1),rgba(247, 252, 252, 1));
	background-image: -ms-linear-gradient(left,rgba(245, 250, 255, 1),rgba(243, 252, 252, 1));
	background-image: -o-linear-gradient(left,rgba(245, 250, 255, 1),rgba(243, 252, 252, 1));
}
.gradient-top-green
{
  background-image: -moz-linear-gradient(top,rgba(242, 255, 253, 1),rgba(186, 243, 232, 1) 800px);
	background-image: -webkit-linear-gradient(top,rgba(242, 255, 253, 1),rgba(186, 243, 232, 1) 800px);
	background-image: -ms-linear-gradient(top,rgba(242, 255, 253, 1),rgba(186, 243, 232, 1) 800px);
	background-image: -o-linear-gradient(top,rgba(242, 255, 253, 1),rgba(186, 243, 232, 1) 800px);
}
.alert {
	background-color:#566573; 
	color:white; 
	padding:20px; 
	margin-top:10px; 
	border:10px solid #7FB3D5;
	font-family:cursive; 
	font-size:24px;
	text-align: center;
}
header {
	width:100%;
	background-color: #74ABC9;
} 
header nav li{ 
	margin: 0 10px;
}
header nav li a{
	text-decoration: none;
	color: #333333;
	font-family: "lato", sans-serif;
	font-weight: bold;
}
header nav li a:hover{
	border-bottom: 2px solid #1abc9c;
	padding-bottom: 5px;
}
.container-header-logo{
  	padding-right: 5px;
  	padding-left: 20px;
    box-sizing: border-box;
    background-color: #74ABC9;
    width:220px; height:58px; 
    float:left;
}
.container-header-search{
  	padding-right: 5px;
  	padding-left: 20px;
    box-sizing: border-box;
    background-color: #74ABC9;
    width:32%; height:58px; 
    float:left;
}
.container-header-subject{
	  height:58px;
		float:right;
}
.container-header-username{
  	padding-right: 5px;
  	padding-left: 20px;
  	padding-top: 17px;
    box-sizing: border-box;
    background-color: #74ABC9;
    text-align:center; 
    width:260px; height:58px; 
    float:left;
}
.container-header-buttons{
	  padding-left: 5px;
	  padding-top: 17px;
    box-sizing: border-box;
    background-color: #74ABC9;
    width:180px; height:58px; 
    float:right;
}
.container-header-login{
  	padding-right: 30px;
  	padding-left: 5px;
    box-sizing: border-box;
    background-color: #74ABC9;
    align-items:center; 
    height:58px; 
    float:right;
}
.logo img{
	width: 180px;
}
#logoFont {
font-family: "Arial Black", Gadget, sans-serif;
font-size: 30px; letter-spacing: -0.6px; word-spacing: 0.8px;
color: #fff;
}
.user-header a
{
	text-decoration: none;
	font-family: sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.post{
	background: #fff;
	/*box-shadow: 4px 4px 24px 0px rgba(0,0,0,0.3);*/
	margin-bottom: 30px;
}
.post .content-post{
	position: relative;
}
.post .category{
	padding: 5px 10px;
	position: absolute;
    right: -11px;
    top: 30px;
    text-transform: capitalize;
}
.post .video{
	background-color: #606060;	
}
.yellow{
	background: #fffa8c;
	color: #5a0a0c;
}
.green{
	background: #1abc9c;
	color: white;
}
.light-green{
	background: #d5ffa7;
	color: #5a0a0c;
}
.dark-wine{
	background: #b51418;
	color: white;
}
.sepia{
	background: #f3500a;
	color: white;
}
.brown{
	background: #916e25;
	color: white;
}
.orange{
	background: #ff8f0f;
	color: #3b1702;
}
.ocre{
	background: #f5efdc; 
	color: #3b1702;
}
.red{
	background: #ff0000;
	color: white;
}
.azure{
	background: #11A6cc;
	color: white;
}
.lime{
	background: #61f6ca;
	color: #5a0a0c;
}
.post .category a{
	color:inherit;
	font-size: inherit;
}
.post .user a{
	color:inherit;
	font-size: inherit;
}
.post figure{
	margin:0;
}
.post h1{
	font-size: 14px !important;
}
.post h2{
	font-weight: normal;
	font-style: italic;
}
.show {
	display: block;
	background-color: yellow;
}

.hide {
	display: none;
	background-color: white;
}

.post p{
	line-height: 1.6;
}
.post a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.post .tag{
	margin: 0 5px;
}
.post .tag a{
	color: inherit;
	font-size:  inherit;
}
.post footer{
	margin-top: 0px;
	padding-top: 10px;
	background: none;
}
.btn {
	width:32px;
	float: left;
}
.masonry {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 4px;
    -moz-column-gap: 4px;
    -webkit-column-gap: 4px;
}
.masonry .gallery-image {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #000;
}
cite, .cite{
	font-size: 22px;
	line-height: 1.7;
	display: block;
	margin-top: 20px;
	color: #909090;
}
cite span, .cite span{
	color: #7f7f7f;
	font-size: 16px;
}
cite .img-cite, .cite .img-cite{
	position: absolute;
	left: -20px;
}
.image-w-text div{
	max-width: 720px;
}
.image-w-text span.cite-2, span.cite-2{
	color: #000;
	font-weight: 800;
	font-size: 16px;
}
.pagination ul li{
	margin: 0 15px;
}
.pagination ul li a{
	display: block;
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	text-decoration: none;
	color: #333;
	padding: 10px 15px;
}

.footer footer{
	background: #74ABC9;
	padding-top: 45px;
	text-align: center;
	color: #ffffff;
	
}
.footer footer .logo{
	opacity: 0.4;
}
.footer footer p{
	opacity: 0.4;
}
.footer footer nav ul{
	margin-top: 45px;
}
.footer footer .divider-2{
	margin: 45px auto;
	width: 90%;
}
.footer footer nav ul li{
	margin: 0 10px;
}
.footer footer nav ul li a{
	color: white;
	text-decoration: none;
}
.footer footer .social-media-footer li a{
	display: block;
	width: 25px;
	height: 25px;
}
a.btn-bar{
	background: url('../img/nav-icon.png') no-repeat;
}

.grid-item {
  width: 464px;
  height: 120px;
  float: left;
}

.grid-item--height2{ height: 260px; }
.grid-item--height3{ height: 328px; }
.grid-item--height4{ height: 308px; }
.grid-item--height5{ height: 240px; }

.page{
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	margin-bottom: 50px;
	position: relative;
	padding: 65px 100px;
}
.page p, .page cite{
	line-height: 1.6;
}
.page h3{
	color: #b2b2b2;
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 300;
}
.page .latest-posts{
	max-width: 350px;
}
.page ul li{
	margin: 15px 0;
}

.page-contact .input-container input{
	font-family: "Lato", sans-serif;
    background: #f7f9fc;
    border: 0;
    width: 100%;
    height: 35px;
    max-width: 310px;
    padding: 7px 0 5px 15px;
    display: block;
    margin: 10px 0;
}
.page-contact .input-container .input-subject{
    margin: 20px 0;
    max-width: 98%;
}
.page-contact .input-container textarea{
	width: 98%;
	border: 0;
	background: #f7f9fc;
	resize: vertical;
	padding: 25px 0 0 15px; 
}
.page-contact .form-contact .send-message a{
	display: block;
	text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
    font-size: 19px;
}

.custom-wrapper {
          margin-bottom: 1em;
          -webkit-font-smoothing: antialiased;
          height: 3em;
          overflow: hidden;
          -webkit-transition: height 0.5s;
          -moz-transition: height 0.5s;
          -ms-transition: height 0.5s;
          transition: height 0.5s;
      }
.custom-wrapper ul li a{
	display: block;
	text-align: center;
}
      
      .custom-wrapper.open {
          height: 9em;
      }
      
      .custom-menu-3 {
          text-align: right;
      }
      
      .custom-toggle {
          width: 34px;
          height: 34px;
          display: block;
          position: absolute;
          top: 60px;
          right: 20px;
          display: none;
      }
      
      .custom-toggle .bar {
          background-color: #1abc9c;
          display: block;
          width: 20px;
          height: 2px;
          border-radius: 100px;
          position: absolute;
          top: 18px;
          right: 7px;
          
      }

.buttons-social-media-share{
	margin-bottom: 20px;
}

 .buttons-social-media-share .share-buttons {
 	margin:0; padding: 0;
 }
      
 .buttons-social-media-share .share-buttons li{
	list-style-type: none; 	
	float: left;
	margin-right: 10px;
 }   

.overlay { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	width: 100%; height: 100%; 
	position: absolute; 
	color: white; 
	font-size: 30px; background-color: rgba(0,0,0,.7);
} 

.gallery-photos {
	overflow: hidden;
}

.carousel-inner .item img {
	width: 100%;
}

.vakata-context {
   z-index: 1100
}
