/* Webfont: STIXFraktur */@font-face {
    font-family: 'STIXFrakturRegular';
    src: url('STIXFraktur.eot'); /* IE9 Compat Modes */
    src: url('STIXFraktur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('STIXFraktur.woff') format('woff'), /* Modern Browsers */
         url('STIXFraktur.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

