/* Webfont: STIXScript */@font-face {
    font-family: 'STIXScriptRegular';
    src: url('STIXScript.eot'); /* IE9 Compat Modes */
    src: url('STIXScript.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('STIXScript.woff') format('woff'), /* Modern Browsers */
         url('STIXScript.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

